<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">Update Staff</h4>
    </div><!-- end card header -->

    <div class="card-body">
        <div class="row g-4">


            <div class="col-md-6 col-sm-6">
                <div>
                    <label for="labelInput" class="form-label"> Name
                    </label>
                    <input type="text" pInputText class="form-control">
                </div>
            </div>

            <div class="col-md-6 col-sm-6">
                <div>
                    <label for="labelInput" class="form-label">Phone
                    </label>
                    <input type="text" pInputText class="form-control">
                </div>
            </div>
            <div class="col-md-6 col-sm-6">
                <div>
                    <label for="labelInput" class="form-label">Email
                    </label>
                    <input type="email" pInputText class="form-control">
                </div>
            </div>

            <div class="col-md-6 col-sm-6 mt-5">
                <label for="labelInput" class="form-label">Status
                </label>
                <div class="form-check form-switch p-l-0 ">
                    <input class="form-check-input ml-0" type="checkbox" role="switch" id="SwitchCheck1" checked>
                    <label class="form-check-label" for="SwitchCheck1">Active</label>
                </div>
            </div>


            <div class="col-xxl-12 col-md-12">
                <button class="btn btn-primary">Save</button>
                <button class="btn btn-outline-primary ml-2" routerLink="/staff-list">Cancel</button>
            </div>
        </div>
    </div>
</div>