<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">Add Customers</h4>
    </div><!-- end card header -->

    <div class="card-body">
        <div class="row g-4">
                
            <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">Country</label>
                    
                    <select pInputText name="" class="form-control form-select" id="">
                        <option value="">United States</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">Invoice Name
                        </label>
                    <input type="password" pInputText class="form-control">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">Address
                        </label>
                    <input type="password" pInputText class="form-control">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">Phone
                        </label>
                    <input type="password" pInputText class="form-control">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">Email
                        </label>
                    <input type="password" pInputText class="form-control">
                </div>
            </div>

            <div class="card-header">
                <h4 class="card-title mb-0">Shipping Details</h4>
            </div><!-- end card header -->

            <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">Consignee
                        </label>
                    <select pInputText name="" class="form-control form-select" id="">
                        <option value="">Select Consignee</option>
                    </select>
                </div>
            </div>
            <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">DHL Address
                        </label>
                    <input type="password" pInputText class="form-control">
                </div>
            </div>
            <!-- <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">Consignee Address
                        </label>
                    <input type="password" pInputText class="form-control">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">Consginee Phone
                        </label>
                    <input type="password" pInputText class="form-control">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">Consginee Email
                        </label>
                    <input type="password" pInputText class="form-control">
                </div>
            </div>
            <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">DHL Address
                        </label>
                    <input type="password" pInputText class="form-control">
                </div>
            </div> -->

            <div class="card-header">
                <h4 class="card-title mb-0">Supplier/Company</h4>
            </div><!-- end card header -->

            <div class="col-md-3 col-sm-6">                
                <div>
                    <label for="labelInput" class="form-label">Supplier/Company
                        </label>
                    <select pInputText name="" class="form-control form-select" id="">
                        <option value="">Select Supplier/Company</option>
                    </select>
                </div>
            </div>

            <div class="col-xxl-12 col-md-12">
                <button class="btn btn-primary">Save</button>
                <button class="btn btn-outline-primary ml-2" routerLink="/customer-list">Cancel</button>
            </div>
        </div>
    </div>
</div>