<h4 class="card-title my-3">Staff List</h4>
<div class="card">
    <div class="card-header d-flex align-items-center justify-content-between">
        <div class="col-sm">
            <div class="d-flex">
                <div class="search-box1">
                    <input type="text" class="form-control" placeholder="Search...">
                </div>
                <button class="btn btn-primary py-2">
                    <i class="ri-search-line search-icon"></i>
                </button>
            </div>
        </div>
        <button class="btn btn-primary d-flex align-items-center" routerLink="/add-staff"> <i
                class="pi pi-plus mr-2"></i> Add New </button>
    </div><!-- end card header -->

    <div class="card-body">



        <!-- styleClass="p-datatable-gridlines"  -->
        <p-table [value]="users" [paginator]="true" [rows]="10" [showCurrentPageReport]="true"
            currentPageReportTemplate="Showing {first} to {last} of {totalRecords} entries"
            [rowsPerPageOptions]="[5, 10, 20]">
            <ng-template pTemplate="header">
                <tr>
                    <th>#</th>
                    <th>Name</th>
                    <th>Phone</th>
                    <th>Email</th>
                    <th>Date</th>
                    <th>Status</th>
                    <th class="text-center">Action</th>
                </tr>
            </ng-template>
            <ng-template pTemplate="body" let-user>
                <tr>
                    <td>{{user.id}}</td>
                    <td>{{user.Name}}</td>
                    <td>{{user.Phone}}</td>
                    <td>{{user.Email}}</td>
                    <td>{{user.Date}}</td>
                    <td>
                        <!-- {{user.Status}} -->
                        <div class="form-check form-switch p-l-0 ">
                            <input class="form-check-input ml-0" type="checkbox" role="switch" id="SwitchCheck1"
                                [checked]="user.Status">
                            <label class="form-check-label" for="SwitchCheck1"> {{ user.Status == true ? 'Active' :
                                'Inactive' }}</label>
                        </div>
                    </td>
                    <td class="text-center">

                        <div class="dropdown">
                            <button class="btn btn-icon btn-topbar btn-ghost-dark rounded-circle text-muted"
                                type="button" #btnn (click)="op.toggle($event)">
                                <i class="bi bi-three-dots"></i>
                            </button>
                            <p-overlayPanel #op class="dropdown-menu">
                                <ng-template pTemplate="content">
                                    <ng-container>
                                        <a class="dropdown-item light-red-bg-text" (click)="manageAccess()"><i
                                                class="pi pi-refresh"></i> Manage Access</a>
                                        <a class="dropdown-item light-red-bg-text" routerLink="/update-staff"><i
                                                class="pi pi-refresh"></i> Update</a>
                                        <a class="dropdown-item light-red-bg-text" href="javascript:;"
                                            (click)="removecutomer(user.id)"><i class="pi pi-trash"></i> Delete</a>
                                    </ng-container>
                                </ng-template>
                            </p-overlayPanel>
                        </div>

                    </td>
                </tr>
            </ng-template>
        </p-table>
    </div><!-- end card-body -->

</div>


<p-dialog [visible]="removemodal" [modal]="true" [style]="{width: '28vw'}">
    <div class="modal-content">
        <div class="modal-body">
            <div class="mt-0 text-center">

                <div class="mt-0 pt-2 fs-15 mx-4 mx-sm-5">
                    <h4>Are you Sure ?</h4>
                    <p class="text-muted mx-4 mb-0">Are you Sure You want to Remove this Record ?</p>
                </div>
            </div>
            <div class="d-flex gap-2 justify-content-center mt-4 mb-2">
                <button type="button" class="btn w-sm btn-light" (click)="removemodal = false">Cancel</button>
                <button type="button" class="btn w-sm btn-danger " id="delete-record" (click)="removemodal = false">Yes,
                    Delete It!</button>
            </div>
        </div>
    </div>
</p-dialog>
<!--end modal -->

<p-dialog header="Manage Access" [style]="{width: '498px'}" class="modal-dialog modal-dialog-centered"
    [visible]="access" [modal]="true">
    <div class="modal-content">
        <div class="modal-body">
            <div class="mt-0">

                <div class="d-flex align-items-center">
                    <img src="/assets/images/users/avatar-3.jpg" alt="" class="rounded-circle" [width]="80" [height]="80">
                    <ul style="list-style: none;padding-left:0;margin-left:20px;margin-bottom:0;">
                        <li>
                            John Doe
                        </li>
                        <li>
                            551-543-556
                        </li>
                        <li>
                            john_doe@yopmail.com
                        </li>
                    </ul>
                </div>


                <div class="mt-lg-0 my-3">
                    <div class="form-check form-check-inline pl-0 mb-3" *ngFor="let item of MENU">
                        <p-checkbox name="group1" value="option1" [binary]="true" inputId="ny"
                            [label]="item.label"></p-checkbox>
                    </div>
                </div>


            </div>
            <div class="d-flex gap-2 justify-content-end mt-5 mb-2">
                <button type="button" class="btn w-sm btn-light" (click)="access = false">Cancel</button>
                <button type="button" class="btn w-sm btn-success " id="delete-record" (click)="access = false">Save
                    Changes</button>
            </div>
        </div>
    </div>
</p-dialog>
<!--end modal -->