<div class="card">
    <div class="card-header">
        <h4 class="card-title mb-0">Add Vehicle</h4>
    </div><!-- end card header -->

    <div class="card-body">
        <div class="row g-4">


            <div class="col-xxl-12 col-md-12">

                <div class="form-check form-check-inline pl-0">
                    <p-checkbox name="group1" value="option1" [binary]="true" inputId="ny"
                        label="In Yard"></p-checkbox>
                </div>

            </div>
        </div>
    </div>
</div>