<div class="row">
    <div class="col-xxl-12">
        <div class="card">
            <div class="card-header align-items-center d-flex">
                <h4 class="card-title mb-0 flex-grow-1">Cars</h4>
                <div class="flex-shrink-0">

                </div>
            </div>
        </div>
            <div class="card-body p-0">

                <div class="card">
                    <div class="card-header d-flex justify-content-between bg-light">
                        <h5>
                            ISUZU - ELF - 2018/7
                        </h5>

                        <div>
                            <b>Price: </b> 0 USD <b class="ms-2">Purchase Date: </b> 20/04/2024
                        </div>
                        <div><button class="btn btn-primary btn-sm">View Details</button></div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table ">
                            <tr>
                                <td class="text-center" style="vertical-align: top;padding:10px;">
                                    <img src="assets/images/cars/audi/1.jpg" class="img-fluid img-100 object-cover" style="border-radius: 5px;"
                                        width="180" height="120" alt="">
                                    <a href="#" class="d-block text-danger">Download Images</a>
                                </td>
                                <td style="vertical-align: top;padding:10px;">
                                    <h4>Vehicle Details</h4>
                                    <table class="table ">
                                        <tr>
                                            <td>
                                                <b>Stock No:</b> 198583
                                            </td>
                                            <td>
                                                <b>Chasis No:</b> NPR88yy-700402
                                            </td>
                                            <td>
                                                <b>Model:</b> 2RG-NPR88yy
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Model/Year:</b> 2018/7
                                            </td>
                                            <td>
                                                <b>Grade:</b> Alluminium Body
                                            </td>
                                            <td>
                                                <b>Body:</b> Alluminium Body
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                <b>Mileage:</b> 631586 Kms
                                            </td>
                                            <td>
                                                <b>Transmission:</b> Manual
                                            </td>
                                            <td>
                                                <b>Engine Capacity:</b> 2990
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Fuel:</b> Diesel
                                            </td>
                                            <td>
                                                <b>Colour:</b> White
                                            </td>
                                            <td>
                                                <b>Doors/Seats:</b> 2 / 2
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align: top;padding:10px;">
                                    <h4>
                                        Shipping Information
                                    </h4>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <b>Vessel Name:</b> Not available yet
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Port of Departure:</b> Not available yet
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>ETD:</b> Not available yet
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Port of Discharge:</b> MOMBASA
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>ETA:</b> Not available yet
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header d-flex justify-content-between bg-light">
                        <h5>
                            ISUZU - ELF - 2018/7
                        </h5>

                        <div>
                            <b>Price: </b> 0 USD <b class="ms-2">Purchase Date: </b> 20/04/2024
                        </div>
                        <div><button class="btn btn-primary btn-sm">View Details</button></div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table ">
                            <tr>
                                <td class="text-center" style="vertical-align: top;padding:10px;">
                                    <img src="assets/images/cars/audi/2.jpg" class="img-fluid img-100 object-cover" style="border-radius: 5px;"
                                        width="180" height="120" alt="">
                                    <a href="#" class="d-block text-danger">Download Images</a>
                                </td>
                                <td style="vertical-align: top;padding:10px;">
                                    <h4>Vehicle Details</h4>
                                    <table class="table ">
                                        <tr>
                                            <td>
                                                <b>Stock No:</b> 198583
                                            </td>
                                            <td>
                                                <b>Chasis No:</b> NPR88yy-700402
                                            </td>
                                            <td>
                                                <b>Model:</b> 2RG-NPR88yy
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Model/Year:</b> 2018/7
                                            </td>
                                            <td>
                                                <b>Grade:</b> Alluminium Body
                                            </td>
                                            <td>
                                                <b>Body:</b> Alluminium Body
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                <b>Mileage:</b> 631586 Kms
                                            </td>
                                            <td>
                                                <b>Transmission:</b> Manual
                                            </td>
                                            <td>
                                                <b>Engine Capacity:</b> 2990
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Fuel:</b> Diesel
                                            </td>
                                            <td>
                                                <b>Colour:</b> White
                                            </td>
                                            <td>
                                                <b>Doors/Seats:</b> 2 / 2
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align: top;padding:10px;">
                                    <h4>
                                        Shipping Information
                                    </h4>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <b>Vessel Name:</b> Not available yet
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Port of Departure:</b> Not available yet
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>ETD:</b> Not available yet
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Port of Discharge:</b> MOMBASA
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>ETA:</b> Not available yet
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>


                <div class="card">
                    <div class="card-header d-flex justify-content-between bg-light">
                        <h5>
                            ISUZU - ELF - 2018/7
                        </h5>

                        <div>
                            <b>Price: </b> 0 USD <b class="ms-2">Purchase Date: </b> 20/04/2024
                        </div>
                        <div><button class="btn btn-primary btn-sm">View Details</button></div>
                    </div>
                    <div class="card-body p-0">
                        <table class="table ">
                            <tr>
                                <td class="text-center" style="vertical-align: top;padding:10px;">
                                    <img src="assets/images/cars/audi/3.jpg" class="img-fluid img-100 object-cover" style="border-radius: 5px;"
                                        width="180" height="120" alt="">
                                    <a href="#" class="d-block text-danger">Download Images</a>
                                </td>
                                <td style="vertical-align: top;padding:10px;">
                                    <h4>Vehicle Details</h4>
                                    <table class="table ">
                                        <tr>
                                            <td>
                                                <b>Stock No:</b> 198583
                                            </td>
                                            <td>
                                                <b>Chasis No:</b> NPR88yy-700402
                                            </td>
                                            <td>
                                                <b>Model:</b> 2RG-NPR88yy
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Model/Year:</b> 2018/7
                                            </td>
                                            <td>
                                                <b>Grade:</b> Alluminium Body
                                            </td>
                                            <td>
                                                <b>Body:</b> Alluminium Body
                                            </td>
                                        </tr>
                                        <tr>

                                            <td>
                                                <b>Mileage:</b> 631586 Kms
                                            </td>
                                            <td>
                                                <b>Transmission:</b> Manual
                                            </td>
                                            <td>
                                                <b>Engine Capacity:</b> 2990
                                            </td>

                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Fuel:</b> Diesel
                                            </td>
                                            <td>
                                                <b>Colour:</b> White
                                            </td>
                                            <td>
                                                <b>Doors/Seats:</b> 2 / 2
                                            </td>
                                        </tr>
                                    </table>
                                </td>
                                <td style="vertical-align: top;padding:10px;">
                                    <h4>
                                        Shipping Information
                                    </h4>
                                    <table class="table">
                                        <tr>
                                            <td>
                                                <b>Vessel Name:</b> Not available yet
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Port of Departure:</b> Not available yet
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>ETD:</b> Not available yet
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>Port of Discharge:</b> MOMBASA
                                            </td>
                                        </tr>
                                        <tr>
                                            <td>
                                                <b>ETA:</b> Not available yet
                                            </td>
                                        </tr>
                                    </table>
                                </td>

                            </tr>
                        </table>
                    </div>
                </div>

            </div>
        </div>
    </div>
